.root {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaecef;
    height: 50px;
}

.logo {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 50, 0.8);
    padding: 4px;
    background: #000000;
}

.title {
    width: fit-content;
    border: 0;
    padding: 0;
    margin: 0;
}
