.root {
    padding: 16px;
    border: 1px solid #dfe2e5;
    margin: 4px 0;
}

.title {
    font-weight: 400;
    font-size: 1.3em;
    line-height: 24px;
    margin: 0 0 0.5em;
    display: inline-flex;
    justify-items: center;
    width: 100%;
}

.title > * {
    margin-left: 4px;
}

.title a, .title a:visited {
    text-decoration: none;
    color: rgb(3, 102, 214);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.title a:last-child {
    font-weight: 600;
}
.title img {
    width: 24px;
    height: 24px;
    display: inline-block;
    left: 0;
    margin: 0;
    vertical-align: -0.18em;
}

.tags {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(100%);
    grid-column-gap: 12px;
    margin-top: 4px;
}
.tag {
    font-size: 12px;
    line-height: 12px;
}
.tag-dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
