.RepositoryPreview--root {
    padding: 16px;
    border: 1px solid #dfe2e5;
    margin: 4px 0;
}

.RepositoryPreview--title {
    font-weight: 400;
    font-size: 1.3em;
    line-height: 24px;
    margin: 0 0 0.5em;
    display: inline-flex;
    justify-items: center;
    width: 100%;
}

.RepositoryPreview--title > * {
    margin-left: 4px;
}

.RepositoryPreview--title a, .RepositoryPreview--title a:visited {
    text-decoration: none;
    color: rgb(3, 102, 214);
}
.RepositoryPreview--title a:last-child {
    font-weight: 600;
}
.RepositoryPreview--title img {
    width: 24px;
    height: 24px;
    display: inline-block;
    left: 0;
    margin: 0;
    vertical-align: -0.18em;
}


